name: Reload Shop Items

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  ensure-shop-items:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Yarn
        run: corepack enable

      - name: Install dependencies
        run: yarn install && yarn add ts-node typescript firebase-admin

      - name: Run ensureShopItems script
        run: npx ts-node-esm scripts/ensureShopItem/index.ts
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}